/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Niramit:400,500i,700i');

app-root {
  font-family: 'Niramit', sans-serif;
}

h1 {
  font-weight: 500;
  font-style: italic;
}
